:root {
    --mainDark: #24292e;
    --secDark: #444d56;
    --mainWhite: #fff;
    --mainGray: rgba(209,213,218,0.5);
    --mainBlue: #0366d6;
    --mainOrange: #f9826c;
    --mainYellow: #f1e05a;
    --secBlue: #3572A5;
    --mainGreen: #2ea44f;
    --secGray: #959da5;
    --borderGray: #d1d5da;
    --border: #e1e4e8;
    --textGray: #586069;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    width: 100%;
}
.header {
    background-color: var(--mainDark);
    color: var(--mainWhite);
    position: relative;
    width: 100%;
    padding: 0.3rem;
    font-size: 14px;
    line-height: 1.5;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 800px) {
    .wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav_wrapper, .notification_wrapper {
        display: flex;
    }
    .nav_item a {
        text-align: center;
        border-left: 0;
    }
    .profile1 {
        display: flex;
        width: 25%;
    }
    .sticky_nav {
        position: fixed;
        align-items: center;
        width: 100%;
        top: 0;
        left: 25%;
        background-color: var(--mainWhite);
    }
    
}
.header_start {
    display: flex;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: var(--secGray);
}
.search {
    display: flex;
    margin-left: 1rem;
}
.search_form {
    display: block;
}
.sr-only {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.search_form input {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    min-width: 200px;
    min-height: 28px;
    width: 100%;
    background-color: var(--mainDark);
    background: url("https://github.githubassets.com/images/search-key-slash.svg") no-repeat right 10px center;
    border: 0;
    box-shadow: none;
    padding: 5px 12px;
    overflow: visible;
    border-radius: 6px;
    outline: none;
    cursor: text;
    border: 1px solid var(--secDark);
    font-weight: 400;
    color: var(--mainWhite);
}
.header_end, .header_notification {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.mail {
    position: absolute;
    top: 16px;
    right: 102px;
    z-index: 2;
    width: 14px;
    height: 14px;
    color: var(--mainWhite);
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid var(--mainDark);
    border-radius: 50%;
}
.header_notification {
    margin-left: auto;
}
.nav {
    display: block;
}
.nav_toggle {
    display: none;
}
.sticky {
    display: flex;
    align-items: center;
    padding: 1.3rem 1rem;
    width: 75%;
    z-index: 90;
    height: 50px;
    border-bottom: 1px solid var(--mainGray);
}

@media screen and (max-width: 799px) {
    .header {
        padding: 1rem;
    }
    .header_start {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .search_form input {
        display: none;
    }
    .nav_toggle {
        display: block;
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        outline: none;
        background-color: transparent;
        border: none;
        color: var(--mainWhite);
    }
    .nav_toggle:hover {
        color: var(--secGray);
    }
    .nav_wrapper, .notification_wrapper {
        position: absolute;
        top: calc(100%);
        right: 0;
        left: 0;
        z-index: 1;
        padding-left: 1rem;
        visibility: hidden;
        background-color: var(--mainDark);
        opacity: 0;
    }
    .nav_wrapper.activeItem {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .nav_item a{
        border-top: 1px solid var(--border);
        border-color: hsla(0,0%,100%,0.15);
        padding: 0.5rem ;
    }
    #x {
        border: none;
        padding-top: 0;
    }
    .nav_item span {
        padding-right: 1rem;
        text-transform: lowercase;
    }
    .hide {
        display: block;
    }
    .mail {
        position: absolute;
        top: 16px;
        right: 28px;
        z-index: 2;
        width: 14px;
        height: 14px;
        color: var(--mainWhite);
        background-image: linear-gradient(#54a3ff,#006eed);
        background-clip: padding-box;
        border: 2px solid var(--mainDark);
        border-radius: 50%;
    }
    .searchhide {
        width: 100%;
        background-color: var(--mainDark);
        outline: none;
        border: 1px solid var(--border);
        border-color:  hsla(0,0%,100%,0.15);
        padding: 0.5rem;
        color: var(--mainWhite);
        background: url("https://github.githubassets.com/images/search-key-slash.svg") no-repeat right 10px center;
        border-radius: 6px;
        font-weight: 400;
    }
    .edit {
        padding: 1rem;
    }
    .avatars0 {
        width: 16%;
        border: 1px solid var(--border);
        margin: 0.5rem;
    }
    .username1 {
        width: 100%;
        padding-left: 1rem;
    }
    .fullname1 {
        font-size: 26px;
        line-height: 1.25;
        font-weight: 600;
        padding-left: 1rem;
        padding-top: 0;
    }
    .nickname1 {
        display: block;
        font-weight: 400;
        padding-left: 1rem;
    }
    .bio{
        padding: 1rem;
    }
    .about, .follow {
        padding-left: 1rem;
    }
    .sticky {
        width: 100%;
    }
    .sticky_nav {
        position: fixed;
        align-items: center;
        width: 100%;
        top: 0;
        background-color: var(--mainWhite);
    }
}

ul {
    list-style: none;
}
.nav_item:not(:last-child){
    margin-right: 0.5rem;
}
.nav_item a {
    display: block;
    padding: 1rem 0.3rem;
    font-weight: 600;
    white-space: nowrap;
}
.notification_item a {
    display: block;
    padding: 0.3rem;
}
.octicon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--mainWhite);
    text-transform: capitalize;
}
a:hover {
    color: hsla(0,0%,100%,0.7);
}
.avatar-user {
    border-radius: 50%;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    box-shadow: 0 0 0 1px transparent;
    object-fit: contain;
    height: auto;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.profile {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 25%;
    background-color: var(--mainWhite);
    margin: 1rem;
}

.profile-img {
    padding: 0 1rem;
}
.width-full {
    object-fit: contain;
    border: 1px solid var(--border);
}
.username {
    display: flex;
    flex-direction: column;
    align-self: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.fullname {
    text-align: center !important;
}
.nickname {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #586069;
}
.btn {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--mainDark);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 5px 1rem;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    line-height: 20px;
    background-color: #fafbfc;
    outline: none;
    border-color: rgba(27,31,35,0.15);
}
.btn:hover {
    background-color: #f3f4f6;
    transition-duration: 0.15;
    border-color: rgba(27,31,35,0.15);
}
.repo-navg {
    display: flex;
}
.repo {
    display: block;
    width: 100%;
    padding: 0 1rem;
    height: auto;
}
.overview {
    display: flex;
    width: 100%;
    padding-top: 2.5rem;
    border-bottom: 1px solid var(--mainGray);
}
.repo-nav {
    color: var(--mainDark);
    padding: 1.3rem 1rem;
    font-size: 14px;
}
.repo-nav:hover {
    color: var(--mainDark);
    border-bottom: 3px solid var(--borderGray);
}
.active {
    color: var(--mainDark);
    padding: 1rem;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 3px solid var(--mainOrange);
}
.active:hover {
    color: var(--mainDark);
}
.counter {
    display: inline-block;
    min-width: 20px;
    margin-left: 4px;
    color: var(--mainDark);
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    background-color: var(--mainGray);
    border: 1px solid transparent;
    border-radius: 2em;
}
.UnderlineNav-octicon {
    margin-right: 4px;
    color: var(--secGray);
}
.follow {
    margin-bottom: 1rem;
    display: flex;
}
.follow a {
    text-transform: lowercase;
    color: #586069;
    margin: 5px;
}
.follow a:hover {
    color: var(--mainBlue);
}
.follow span {
    font-weight: bold;
}
.about .octicon {
    width: 1rem;
    color: #6a737d;
    text-align: center;
}
.about, .highlights, .org {
    margin-bottom: 1rem;
}
.about a, .highlights a {
    color: var(--mainDark);
    list-style: none;
    text-transform: lowercase;
    font-size: 0.8rem;
    text-align: right;
}
.about a:hover {
    text-decoration: underline;
    color: var(--mainBlue);
}
.highlights a {
    text-transform: capitalize;
}
.highlights ul, .about ul {
    padding: 0;
    margin: 0;
}
h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.find {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0.5rem;
}
.form-hide {
    margin: 1rem 0;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    line-height: 20px;
    color: var(--mainDark);
    background-color: var(--mainWhite);
    outline: none;
    border: 1px solid var(--border);
    box-shadow: inset 0 1px 0 rgba(225,228,232,0.2)
}
.select-hide {
    display: flex;
    align-items: center;
    width: 100%;

}
.find-form {
    display: flex;
    width: 60%;
}
.find-repo {
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    line-height: 20px;
    color: var(--mainDark);
    background-color: var(--mainWhite);
    outline: none;
    border: 1px solid var(--border);
    box-shadow: inset 0 1px 0 rgba(225,228,232,0.2)
}
.select {
    margin-left: 0.5rem;
    padding: 5px 12px;
    background-color: #fafbfc;
    border: 1px solid rgba(27,31,35,0.15);
    font-size: 14px;
    border-radius: 6px;
}
.new {
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 5px 12px;
    border-radius: 6px;
    outline: none;
    margin-left: 0.8rem;
    border-color: rgba(27,31,35,0.15);
    text-align: center;
}
.new:hover {
    color: var(--mainWhite);
    background-color: #2c974b;
}
.new:focus {
    background-color: var(--mainGreen);
}
.repo-list {
    display: block;
    width: 100%;
    padding: 24px 0;
    background-color: var(--mainWhite);
    border-bottom: var(--border);
}
.repo-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.repo_item_no {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding-top: 24px;
    padding-bottom: 24px;
    border-color: #eaecef;
}
.col-10 {
    display: inline-block;
    width: 83.33333%;
}
.d-line {
    display: inline-block;
    margin-bottom: 4px;
}
.repo_name {
    word-break: break-all;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.repo_link {
    color: var(--mainBlue);
}
.repo_link:hover {
    color: var(--mainBlue);
    text-decoration: underline;
}
.repo_description {
    padding-right: 24px;
    margin-bottom: 0.5rem;
    color: var(--textGray);
    width: 75%;
    margin-top: 0;
}
.repo_details {
    font-size: 12px;
    margin-top: 0.5rem;
    color: var(--textGray);
}
.repo_details a {
    color: var(--textGray);
}
.repo_details a:hover {
    color: var(--mainBlue);
}
.mr-3 {
    margin-right: 1rem;
}
.ml-0 {
    margin-left: 0;
}
.repo_lang_color {
    position: relative;
    top: 1px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 50%;
}
.repo_star {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 16.66667%;
}
.text-right {
    text-align: right;
}
.btn-sm {
    position: relative;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    color: var(--mainDark);
    background-color: #fafbfc;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 6px;
    transition: 0.2s cubic-bezier(0.3,0,0.5,1);
    transition-property: color,background-color,border-color;
}
.btn-sm:hover {
    background-color: #f3f4f6;
    border-color: rgba(27,31,35,0.15);
    transition-duration: 0.15;
    text-decoration: none;
}
.btn-sm .octicon {
    vertical-align: text-top;
    color: #6a737d;
}
.repo-heading {
    display: flex;
    width: 100%;
}
.repo-star {
    margin-left: 45rem;
    color: #6a737d;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
    background-color: #fafbfc;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 6px;
}
.repo-item-time {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #586069;
    padding: 1rem 0;
}
.lang-color {
    background-color: var(--mainOrange);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
}
.mr-1 {
    padding: 0 0.5rem;
}
.octicon-star , .octicon-norh-star,.octicon-law, .octicon-star-fill {
    margin-right: 4px;
    fill: currentColor;
}
.description {
    padding-right: 24px;
    color: var(--textGray);
    width: 75%;
    font-size: 14px;
}


@media screen and (min-width: 360px) and (max-width: 768px) {
    .profile1, .profile {
        display: none;
    }
   
   .find {
       display: none;
   }
   .new1 {
       margin-left: auto;
   }
}
@media screen and (max-width: 360px){
    .repo-navg .octicon {
        display: none;
    }
    .repo-navg {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .repo-nav a{
        text-align: center;
        padding: 0 4px;
    }
    .active {
        padding: 0 4px;
    }
    .counter {
        display: none;
    }
    .searchhide {
        background: none;
    }
    .nav_item a {
        padding: 0.5rem 0;
    }
    .nav_wrapper {
        padding: 1rem;
    }
}